[submodule "3rd/fmt"]
	path = 3rd/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rd/imgui"]
	path = 3rd/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = https://github.com/glfw/glfw.git
